.mines-js-dialog-overlay {
    background-color: #000000;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}

.mines-js-dialog {
    background-color: #ffffff;
    display: block;
    left: 50%;
    opacity: 0.95;
    padding: 16px 32px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    zoom: 2;
}

.mines-js-dialog h2 {
    margin: 0 0 8px 0;
    padding: 0;
}
