.mines-js-dialog.mines-js-dialog-help {
    zoom: 1;
}

.mines-js-help h2 {
    margin-bottom: 16px;
}

.mines-js-help h3, 
.mines-js-help h4 {
    margin: 4px 0;
}

.mines-js-help .mines-js-help-topic {
    margin-bottom: 16px;
}

.mines-js-help .mines-js-help-topic:last-child {
    margin-bottom: 0;
}

.mines-js-help p {
    margin: 4px 0;
}