<div class="mines-js-dialog-overlay"></div>
<div class="mines-js-dialog mines-js-dialog-help">
    <div class="mines-js-help">
        <h2>Help</h2>

        <div class="mines-js-help-topic">
            <h3>Objective</h3>
            
            <p>You must flag all of the hidden mines on the game board correctly. Revealed tiles will 
                show a number indicating the number of mines that are touching that tile (including 
                diagonally). If you reveal a tile that is a mine, you lose the game. Good luck.</p>
        </div>

        <div class="mines-js-help-topic">
            <h3>Controls</h3>

            <h4>Mouse</h4>
            <div>Left Mouse - Reveal tile</div>
            <div>Right Mouse - Flag tile</div>

            <h4>Touch Screen</h4>
            <div>Double Tap - Reveal tile</div>
            <div>Single Tap - Flag tile</div>
        </div>
    </div>

    <div class="mines-js-actions">
        <button class="mines-js-button" onclick="window.location = window.location;">Got it</button>
    </div>
</div>