body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    position: relative;
}

.mines-js-warning-state {
    background-color: #ffcccc;
}

.mines-js-actions {
    text-align: right;
}

.mines-js-button {
    background-color: #222222;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 16px;
}

.mines-js-button:hover {
    background-color: #000000;
    cursor: pointer;
}

.mines-js .mines-js-header {
    align-items: center;
    background-color: #eeeeee;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto 1fr 1fr auto;
    line-height: 32px;
    margin-bottom: 16px;
    position: relative;
}

.mines-js .mines-js-header .mines-js-title {
    background-color: #cccccc;
    font-size: 16px;
    height: calc(100% - 16px);
    margin: 0;
    text-align: center;
    width: 100px;
}

.mines-js .mines-js-header > * {
    display: inline-block;
    padding: 8px 16px;
}

.mines-js .mines-js-header .mines-js-difficulty-value {
    border-radius: 4px;
    padding: 6px 16px;
}

.mines-js .mines-js-warning {
    color: #990000;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 16px;
    margin: -16px 0 16px 0;
    text-align: center;
}
