<div class="mines-js-dialog-overlay"></div>
<div class="mines-js-dialog">
    <h2>{{ title }}</h2>
    <p>{{ message }}</p>
    <div class="mines-js-actions">
        <button class="mines-js-button" onclick="window.location = window.location;">Play again</button>
    </div>
</div>