.mines-js .mines-js-board {
    display: grid;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    margin: auto;
}
  
.mines-js .mines-js-board .tile {
    background-color: #bbb;
    border-radius: 4px;
    font-size: 32px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
}
  
.mines-js .mines-js-board .tile:hover {
    background-color: #999;
    border: 4px dashed #222;
    cursor: pointer;
    height: 56px;
    width: 56px;
}

.mines-js .mines-js-board .tile.tile--revealed {
    background-color: #eee;
}

.mines-js .mines-js-board .tile .mine {
    color: #000000;
}

.mines-js .mines-js-board .tile .flag {
    color: #119933;
}